html{
	height: 100%;
	box-sizing: border-box;
	background: rgb(121,241,164);
	background: radial-gradient(circle, rgba(121,241,164,1) 0%, rgba(14,92,173,1) 100%);
	background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Cinzel', serif;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
	margin-top: 4%;
}

#cipher-block{
	padding: 2em;
	width: 50%;
	margin: 0 auto;
}

.title{
	text-align: center;
	margin-bottom: 8%;
}

/*Textarea styles*/

textarea{
	margin: 10px 0px;
	line-height: 1.2em;
	resize: none;
	border: 2px solid #ccc;
	height: 10em;
	border-radius: 4px;
}

textarea, #new-msg-field {
	background-color: #f8f8f8;
	border-radius: 2px;
	padding: .5em;
	width: 100%;
	
}

textarea:focus{
	border: 3px solid #555;
	outline: 0;
}

#new-msg-field{
	max-width: 40%;
  opacity:0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
  overflow: auto;
  margin: 0 auto;
  word-wrap: break-word;
}

/* Dropdown menu styles */

.select-list{
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 25%;
  }

select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #E6E6E6;
  color: #7B7B7B;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select__arrow{
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: black transparent transparent transparent;
}

select:hover, button:hover{
	color: #000000;
  background: #CCCCCC;
}

/* Encrypt/Decrypt button styles */

.btn {
  background: #E6E6E6;
  color: #7B7B7B;
  padding: 16px;
  font-size: 16px;
  border: none;
}
